<ion-header [translucent]="true">
  
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Gestión Ouroboros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-grid>
  <ion-row>
    <ion-col size="12">
  <ion-img style="height: 13em;" src="..\..\assets\icon\logoBlanco.png"></ion-img>
    </ion-col>
  </ion-row>

  <h2>Gestión Ouroboros</h2>

  <ion-row>
  <p>Aplicación destinada a la simplifación y mejora de las actividades que desempeñamos.</p>
</ion-row>
<!---->
<ion-button  *ngIf="globalUsu.id==null"  color="rojo" expand="block" [routerLink]="['/login']">Login</ion-button>
</ion-grid>
</ion-content>
