#inputscontra{
    margin: 5%;
    padding-top: 2%;
}

#inputsemail{
    margin: 5%;
    padding-top: 2%;
}


h4{
    text-align: center;
}

.ojo{
    padding-top:5%;
  }

#centrar{
    align-items: center;
    display: flex;
    justify-content: center;
}

#rojo{
    background-color: #83100F;
  }